//引导页

<ion-view id="tour-view">
    <ion-nav-buttons side="right">

    </ion-nav-buttons>

    <ion-slide-box  on-slide-changed="onSlideChanged()">
        <ion-slide>

            <img ng-src="images/30.jpg">
        </ion-slide>
        <ion-slide>

            <img ng-src="images/31.jpg">
        </ion-slide>

        <ion-slide>
            <button class="button button-outline balanced" ui-sref="tabs.home">进入</button>
            <img ng-src="images/32.jpg">
        </ion-slide>
    </ion-slide-box>

</ion-view>