<ion-view>
    <ion-nav-title>

        <input type="text" name="搜索" placeholder="搜素你感兴趣的纹身" style="display: inline-block">
    </ion-nav-title>
    <ion-content>
        <dl>
            <dt>-部位-</dt>
            <dd>颈部</dd>
            <dd>肩部</dd>
            <dd>胸部</dd>
            <dd>腹部</dd>
            <dd>腰部</dd>
            <dd>背部</dd>
            <dd>臀部</dd>
        </dl>
        <dl>
            <dt>-元素-</dt>
            <dd>动物</dd>
            <dd>人物</dd>
            <dd>植物</dd>
            <dd>神话</dd>
            <dd>图腾</dd>
        </dl>
        <dl>
            <dt>-风格-</dt>
            <dd>欧美</dd>
            <dd>传统</dd>
            <dd>习俗</dd>
            <dd>肖像</dd>
            <dd>清新</dd>
        </dl>
    </ion-content>
</ion-view>