<ion-view title="Tattoo">
    <ion-content>
        <ion-nav-bar class="bar-calm"><ion-nav-back-button>后退</ion-nav-back-button></ion-nav-bar>
        <ion-slide-box auto-play="true" does-continue="true"
                       slide-interval="2500" show-pager="true">
            <ion-slide>
                <div class="box"><img src="images/25.jpg"> </div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/21.jpg"> </div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/24.jpg"> </div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/23.jpg"> </div>
            </ion-slide>

        </ion-slide-box>
        <div class="row">
            <div class="col">
                <img src="images/33.jpg">
                <p>纹身常识</p>
            </div>
            <div class="col">
                <img src="images/36.jpg">
                <p>纹身素材</p>
            </div>
            <div class="col">
                <img src="images/35.jpg">
                <p>纹身推荐</p>
            </div>
            <div class="col">
                <img src="images/34.jpg">
                <p>纹身培训</p>
            </div>

        </div>


        <div class="life">
            <h2>精彩生活</h2>
            <div class="pic">
                <ion-item ui-sref="tabs.home_pic" class="item">
                    <p>说点什么</p>
                    <img src="images/05.jpg">

                </ion-item>
                <ion-item class="item" ui-sref="tabs.home_pic">
                    <p>说点什么</p>
                    <img src="images/05.jpg">
                </ion-item>
                <ion-item class="item" ui-sref="tabs.home_pic">
                    <p>说点什么</p>
                    <img src="images/05.jpg">
                </ion-item>
                <ion-item class="item" ui-sref="tabs.home_pic">
                    <p>说点什么</p>
                    <img src="images/05.jpg">
                </ion-item>
                <ion-item class="item" ui-sref="tabs.home_pic">
                    <p>说点什么</p>
                    <img src="images/05.jpg">
                </ion-item>
                <ion-item class="item" ui-sref="tabs.home_pic">
                    <p>说点什么</p>
                    <img src="images/05.jpg">
                </ion-item>
                <ion-item class="item" ui-sref="tabs.home_pic">
                    <p>说点什么</p>
                    <img src="images/05.jpg">
                </ion-item>
                <ion-item class="item" ui-sref="tabs.home_pic">
                    <p>说点什么</p>
                    <img src="images/05.jpg">
                </ion-item>
            </div>
        </div>
    </ion-content>

</ion-view>