<ion-view title="我的">
    <ion-content>
        <div class="pic">
            <img src="images/28.jpg">
            <div class="pic1">
                <img src="images/index9.jpg">
            </div>
        </div>
        <h5>sickboom</h5>
        <div class="guan">
            <p>关注</p>
            <p>粉丝</p>
        </div>
        <div class="row">
            <div class="col col-offset-10">
                <a class="icon  ion-chatbox-working"></a>
                消息
            </div>
            <div class="col ">
                <a class="icon ion-ios-folder"></a>
                我的收藏
            </div>
            <div class="col">
                <a class="icon  ion-clipboard"></a>
                预约订单
            </div>
        </div>
        <div class="kehu">在线客户 <span> ></span>
        </div>
        <div class="kehu">设置 <span> ></span>
        </div>
    </ion-content>
</ion-view>