<ion-view>
    <ion-content id="home_pic">
        <ion-nav-title>
            <p>详情</p>

        </ion-nav-title>
        <h2>how bad when you  make tattoo the first</h2>
        <ul >
            <li class="own">原创</li>
            <li>2016.10.5</li>
            <li>狐狸</li>
        </ul>
        <p></p>
        <div class="picture">
            <img src="images/30.jpg">
        </div>
        <p>这些充满爱心的病号服，竟出自一个纹身师之手？！

            原创 2016-10-09 咖妹 纹身大咖
            在医院里
            我们看到的病号服都是这样的<br>

            宽松大件又很丑
            这对于住院的人来说也许再正常不过了
            可是在这些生病的人中
            还有个性张扬的青少年<br>

            他们穿着这些宽大的衣服
            把这个年纪该有的魅力都遮住了
            于是有人站了出来
            给这些孩子设计属于他们的病号服<br>

            而小灰无意中发现
            设计这一系列病号服的设计师
            其中一位竟是个纹身师<br>

            India Amara
            多伦多著名纹身艺术家
            她和几个艺术家一起
            为了医院里住院的孩子们
            设计了一系列的个性病号服<br>
              Amara擅长于印度风格的纹身图案
            她把这类图案画在个性病号服上
            使得这些长袍变得常满特色
            孩子们也十分喜欢<br>
            小灰总会遇见这样的人
            认为纹身师不是什么正经职业
            纹身不是什么好人
            但恰恰是这样的爱心纹身师的出现
            颠覆了这些人的刻板成见<br>
             Amara坦言，她认为纹身
            应该是人们的信念和追求
            又或者是心中的信仰
            她喜欢印度纹身
            也是因为自己有这样的信仰<br>
         </p>
    </ion-content>

</ion-view>